.container {
  min-height: 100vh;
  background-color: #0e121b;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buttons {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.buttons button {
  height: 35px;
  width: 150px;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.toggle {
  background-color: #503cdc;
  margin-right: 20px;
}

.kill {
  background-color: #ac000a;
}
